# Virtual Environment
venv/
env/
ENV/
.env/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Zone.Identifier files (Windows)
*:Zone.Identifier